<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<!-- cf onedrive Dev_secrets\github_simonandre\MQTT -->
    <add key="publishCommands_topic" value="emonsan/commands/1"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>