<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
<!-- cf onedrive Dev_secrets\github_simonandre\MQTT -->
    <!--<add key="workingDirectory" value="/media/ddrp1/data/"/>-->
    <add key="workingDirectory" value="."/>
    <add key="topics" value="solar_high=solar/Thigh;solar_panels=solar/Tpanels;elecPuiss=+/+/10/1/elec_P;Tmobile=+/+/16/1/T"/>
  </appSettings>
</configuration>
