<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
<!-- cf onedrive Dev_secrets\github_simonandre\MQTT -->
    <add key="clientid" value="rpi2_mono" />
    <!--<add key="workingDirectory" value="/media/ddrp1/data/"/>-->
    <add key="workingDirectory" value="." />
    <add key="topics" value="solar_high=solar/Thigh;solar_panels=solar/Tpanels;elecPuiss=+/+/10/1/elec_P;Tmobile=+/+/16/1/T" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>